/** global element styling **/

:root {
    /**! first template**/

    /** elements **/
    --background:#232946;
    --text:#fffffe;
    --paragraph:#b8c1ec;
    --button-text:#232946;
    --button:#eebbc3;
/** Illustration **/
    --highlights:#eebbc3;
    --secondary:#fffffe;
    --tertiary:#eebbc3;
    --main:#b8c1ec;
    --stroke:#121629;

    /**! second template **/

     /** elements **/
     --background-2SCAR:#d4d8f0;
     --card-background:#fffffe;
     --headline:#232946;
     --sub-headline:#232946;
     --card-headline:#232946;
     
   
}

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

/** golabal elements styling **/

h1, h2, h3, h4 {
color: var(--text);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
  
}
input {
  width: 3rem;
  height: 2rem;
}

/** global classes styling **/



.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  
}

.grid {
  display: flex;
}

.desc {
    font-size: 1.2rem;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--stroke);
  width: 100%;
  z-index: 10;
}
section {
    min-height: 80vh;
    padding-top: 15vh;
    color: var(--text);
    min-width: 80%;
       
}



@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 3vw;
  max-height: 3vw;
  max-width: 3vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
  
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  
  
  height: 200px;
  margin-top: 50px;
}

#hero > ul {
    margin-bottom: 20px;
    word-wrap: break-word;
    
  }

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#hero input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type='submit'] {
  max-width: 600px;
  width: 100%;
  height: 50px;
  margin: 15px 0;
  border: 0;
  background-color: var(--button);
  color: var(--button-text);
  border-radius: 8px;
}

#hero input[type='submit']:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: var(--highlights);
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 55vw;
  padding: 4px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#products {
    text-align: center;
    background: var(--background);
 }  
 
 .products-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(15rem, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    
    
    
    }

.product {
    border: 0.4rem solid var(--stroke);
  border-radius: 2px;
  background-color: var(--stroke);
  color: var(--main);
  font-weight: 500;
  max-height: 80%;
  
}    
.product-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: fill;
    max-height: 60%;
    
  }
  .product-title {
    font-size: 1.2rem;
    padding: 0.6rem 0.3rem;
    text-decoration: dashed;
  }
  .code {
    color: var(--background);
    transition: color 0.3s ease-out;
    text-align: center;
    font-size: 2rem;
  }
  .product:hover .code {
    color: var(--highlights);
  }
  .product-image:hover {
    
    transform:scale(1.1);
    transition-duration:200ms;
    transition-timing-function:ease-in-out;
    transition-delay:0ms;
} 

#pricing {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--background-2SCAR);
  color: var(--button-text);
  
}

.Service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  
  margin: 10px;
  border: 0.4rem solid #000;
  border-radius: 1rem;
  background-color: var(--card-background);
}

.Service > .level {
  background-color: var(--card-background);
  color: var(--card-headline);
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 1rem;
}

.Service > h2 {
  margin-top: 15px;
  font-size: 2rem;
}

.Service > ol {
  margin: 15px 0;
  font-size: 2rem;
}

.Service > ol > li {
  padding: 1.5rem 0;
  font-size: 1.8rem;
}

.Service > button {
  border: 0;
  margin: 15px 0;
  background-color: var(--button);
  font-weight: 400;
  color: var(--button-text);
  margin-top: 2rem;
}

.Service > button:hover {
  background-color: var(--stroke);
  color: var(--main);
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .Service {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 0;
  background-color: #ddd;
  padding: 20px;
  
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

@media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  /* 1200px / 16px = 75em */
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  
  @media (max-width: 34.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }

  

/*     
sidenav

*/


#sidenav {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  background-color: var(--stroke);
}



#main-doc header {
  text-align: left;
  margin: 0px;
}

#sidenav ul {
    margin-top: 100px;
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidenav li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#sidenav a {
  display: block;
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}



@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #sidenav ul {
    border: 1px solid;
    height: 207px;
    margin-top: 10px;
  }
  

  #sidenav {
    background-color: var(--stroke);
    position: absolute;
    top: 100;
   
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  
}

  
/*  panier  */

 
.cartc {
  color: black;
    transition: color 0.3s ease-out;
    text-align: center;
    font-size: 1em;
    background-color: #eebbc3;
    border: 0;
    height: 2rem;
    width: 12rem;
  
}


.cartc:hover {
  color: rgb(255, 254, 254);
    transition: color 0.3s ease-out;
    text-align: center;
    font-size: 1em;
    background-color: #ee6f82;
    
  
}

#cart-btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 12%;
  height: 10%;
  font-size: 1.5rem;
}
  .sidelink:hover {
    transition: color 0.3s ease-out;
    background-color: var(--background);


  }
  
  .PLPcontainer {
    display: inline-flex;
    overflow: hidden;
    width: 100%;
    min-width: 800px;
   
  }

.PLP1 {
  float: left;
  width: 45%;
  
  min-width: 50%;
 
  
}
.PLP2 {
  float: right;
  
  width: calc(55% - 4rem);
  
}




.plp-section {
  
  width: 100%; height: 80vh; overflow: hidden;
  line-height: 1.8;
  font-size: 1.5rem;
  margin-bottom: 110px;
}





.PLP-image {
  height: calc(70% - 6.8rem);
  width: 60%;
  
  
}

 
.cartb {
  color: black;
    transition: color 0.3s ease-out;
    text-align: center;
    font-size: 1em;
    background-color: #eebbc3;
    border: 0;
    height: 2rem;
    width:max-content;
    padding: 2px;
    cursor: pointer;
}


.cartb:hover {
  color: rgb(255, 254, 254);
    transition:  color 0.3s ease-out;
    text-align: center;
    
    background-color: #ee6f82;
    
  
}


.cartAmount {
  position: absolute;
  font-size: 1.2rem;
  background-color: red;
  color: white;
  padding: 1px;
  left: 0;
  border-radius: 3px;
  width: 1.5rem;
}